{% extends 'neighbourhoodwatch/base.html'%}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

image


<br><br>
<div class="container">
    <div class="row">
    
      
            
        <div class="col-md-4 card-group">
          <div class="card">
            <div class="card-body">
              <h4 class="card-text">
                <a href="#"> 
               
              </a>
              </h4>
  
                <a href="#">      
                  <img src="#" class="card-img-top" style="width: 200px;height: 200px;" alt="...">
                </a>
                <p class="card-text">
                  
                </p>
                <p class="card-text"> by on  </p>
                
                <p class="card-text">
                  <a href="#"> </a>
                </p>
            </div>
{% endblock %}
