{% extends 'neighbourhoodwatch/base.html'%}
{% load static%}

{% block content%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<br>
<div class="container">         
     
        <div class="card">
            
              <div class="card-body">
                <h4 class="card-text">{{ post.title }}</h4>

              <a href="/view-post/{{post.id}}">      
                <img src="{{post.picture.url}}" class="card-img-top" style="width: 200px; " alt="...">
              </a>
              <p class="card-text">{{ post.post }}</p>
              <p class="card-text">{{ post.author.username }}</p>
              
              
              <p class="card-text">{{ post.published_date }}</p>
              </div>


              {% if post.author.id == user.id %}
              <a href="{% url 'edit-post' post.id %}">Edit Post</a>
              {% endif %}
               
        </div>
    </div>
    
    
    <div class="row">
      {% for bus in businesses %}
      <div class="col-md-4">
          <div class="card mb-4">
              <div class="card-body">
                  <h5 class="card-title">{{bus.name}}
                  </h5>
                  <p class="card-text">{{bus.email}}</p>
                  <p class="card-text">{{bus.description}}</p>
                  <p class="card-text">Owner: <small class="text-muted">
                      {{ bus.user.user.username|title }}</small></p>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>    
        



<script>
 
</script>
  

{% endblock %}